* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quattrocento Sans", sans-serif;
}

.fa {
  padding-right: 20px;
}

.profilePicture {
  height: 35px;
  width: 35px;
  margin-right: 7px;
  margin-top: 15px;
  border-radius: 50%;
}

.AnnouncementBg {
  width: 100%;
}
.memberAnnouncementList {
  background-color: #36a9e1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 150px 50px 150px;
  grid-gap: 20px;
  height: 100%;
  text-align: center;
}
.announcementTitleHead {
  background-color: #36a9e1;
  text-align: center;
  padding: 90px 0 30px 0px;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 1px 1px 15px black;
}
.announcementRender {
  background-color: #fff;
  display: grid;
  grid-template-areas:
    "announcement_Img"
    "announcement_Title"
    "announcement_Date"
    "announcement_Content"
    "readMoreAnnouncement";
  box-shadow: 1px 1px 10px black;
}

.announcement_Img {
  width: 100%;
  margin-bottom: 6px;
}

.announcement_Title {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 20px 0px 20px;
  height: 25px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.announcement_Date {
  text-align: left;
  font-size: 15px;
  margin: 10px 20px 0px 20px;
  height: 25px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.announcement_Content {
  text-align: left;
  font-size: 15px;
  margin: 0px 20px 5px 20px;
  height: 35px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.readMoreAnnouncement {
  text-decoration: none;
  background-color: #00142a;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 20px 15px;
}

.readMoreAnnouncement:hover {
  background-color: #009744;
}

#_memberAnnouncementList_id_ {
  display: none;
  background-color: #36a9e1;
  width: 100%;
  margin: auto;
  padding: 0px 50px 50px;
}

.announcement_TitleRM {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
}

.announcement_DateRM {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  text-shadow: 1px 1px 10px black;
}

.announcement_ContentRM {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  text-shadow: 1px 1px 10px black;
}

.announcement_Img_ {
  width: 100%;
  object-fit: cover;
  height: 400px;
  margin-bottom: 20px;
}

#xbtnReadMoreAnnouncement {
  /* background-color: #fff; */
  width: 8%;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 18px;
  cursor: pointer;
  border: 2px solid #fff;
  color: #ffff;
  /* background-color: white; */
}

#xbtnReadMoreAnnouncement:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}

.outerFoot {
  overflow: hidden;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

/* .mainEventContainerList {
  
  background-color: #36a9e1;
} */

.profileIcon {
  text-decoration: none;
  color: #fff;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}

.profileNameHeader {
  margin-left: 50px;
  margin-top: -35px;
  margin-right: 20px;
  font-size: 20px;
}

.logout_Admin {
  margin-left: 6px;
  margin-top: 30px;
}

/* .eventCont_backG {
  height: 100vh;
  background-color: #f0f0f0;
} */

.container {
  overflow: scroll;
  height: 500px;
  background-color: #f0f0f0;
}

#inputAnnouncementContent {
  margin-top: 5px;
  padding: 10px 20px;
  width: 100% !important;
  height: 200px !important;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 20px;
}

.containerBtnAnnouncement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "fileBtnAnnouncement none postAnnouncementBtn";
}

.fileBtnAnnouncement {
  grid-area: fileBtnAnnouncement;
}

.fileBtnAnnouncement,
.postAnnouncementBtn {
  font-size: 20px;
  cursor: pointer;
}

.postAnnouncementBtn {
  grid-area: postAnnouncementBtn;
  border-radius: 5px;
  border: none;
  padding: 15px 0;
  background-color: #009744;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 10px;
}

.fileBtnAnnouncement {
  margin-top: 20px;
  border-radius: 5px;
}

.announcementListContainer {
  margin-left: 200px;
  font-size: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0 0;
  grid-gap: 20px;
  height: 100%;
  text-align: center;
  overflow: scroll;
  height: 500px;
  background-color: #f0f0f0;
}

.announcementAdminRender {
  background-color: #fff;
  display: grid;
  grid-template-areas:
    "announcement_Img"
    "event_Title"
    "event_Date"
    "event_Content"
    "readMoreEvent";
  box-shadow: 1px 1px 10px #000;
  padding-bottom: 30px;
}

.announcementDummyIng {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.announcement_title_inner {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  margin: 10px 20px 0;
  height: 33px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.announcement_date_inner {
  text-align: left;
  font-size: 15px;
  margin: 10px 20px 0;
  height: 25px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.announcement_Content_Inner {
  text-align: left;
  font-size: 15px;
  margin: 0 20px 10px;
  height: 35px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.updateAnnouncementTitle,
.updateAnnouncementContent {
  margin-top: 15px;
  width: 60%;
  font-size: 20px;
  border-radius: 5px;
  border: 1.5px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 16px;
  padding: 5px 10px;
}

.updateAnnouncementBtn,
.inputUpdateContent {
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 10px;
  background-color: #36a9e1;
  color: #fff;
}

.deleteAnnouncementBtn {
  width: 90%;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00142a;
  color: #fff;
  margin: 20px auto auto;
}

#inputAnnouncementTitle {
  margin-top: 5px;
  padding: 10px 20px;
  width: 100% !important;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 20px;
  margin-bottom: 30px;
}

.announcementTitleTxt,
.contentTxtAnnouncement {
  font-size: 30px;
  font-weight: 700;
}

#fileBtnAnnouncement {
  margin-top: 20px;
  border-radius: 5px;
}

#inputAnnouncementTitle {
  margin-top: 5px;
  padding: 10px 20px 10px 20px;
  width: 100% !important;

  border-radius: 5px;
  border: 1px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 20px;
  margin-bottom: 30px;
}

.contentTxtAnnouncement {
  font-size: 30px;
  font-weight: 700;
}

#inputAnnouncementContent {
  margin-top: 5px;
  padding: 10px 20px 10px 20px;
  width: 100% !important;
  height: 200px !important;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 20px;
}

.containerBtnAnnouncement {
  display: grid;
  /* grid-template-areas: "fileBtnAnnouncement postAnnouncementBtn"; */
}

.fileBtnAnnouncement {
  grid-area: fileBtnAnnouncement;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.postAnnouncementBtn {
  grid-area: postAnnouncementBtn;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 15px 0px 15px 0px;
  background-color: #009744;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 10px;
  /* margin-top: -300px; */
  cursor: pointer;
  /* margin-left: 50%; */
}
.upperForum {
  margin-bottom: 60px;
}

#tableApprovedAdminList td {
  overflow: hidden;
}

.announcement_Img_ {
  object-fit: contain;
}
